<!DOCTYPE html>
<html lang="en">
]
<footer>
    <ul>
        <li><a><img src="/images/insta-logo.webp" href="instagram.com" alt="link to Instagram" width="100" height="100%"></a></li>
        <li><a><img src="/images/twitter-logo.webp" href="twitter.com" alt="link to Twitter" width="100" height="100%"></a></li>
        <li><a><img src="/images/facebook-logo.webp" href="facebook.com" alt="link to Facebook" width="100" height="100%"></a></li>

        <!-- bron fotos: https://www.pngwing.com/en/free-png-vvtxe -->
    </ul>

    <script>
        //service worker
        if ("serviceWorker" in navigator) {
            // Register a service worker hosted at the root of the
            // site using the default scope.
            navigator.serviceWorker.register("/sw.js").then(
                (registration) => {
                    console.log("Service worker registration succeeded:", registration);
                },
                (error) => {
                    console.error(`Service worker registration failed: ${error}`);
                }
            );
        } else {
            console.error("Service workers are not supported.");
        }
    </script>

</footer>