<!DOCTYPE html>
<html lang="en">
    ]
<footer>
    <ul>
        <li><a><img src="/images/insta-logo.png" alt="link to Instagram"></a></li>
        <li><a><img src="/images/twitter-logo.png" alt="link to Twitter"></a></li>
        <li><a><img src="/images/facebook-logo.png" alt="link to Facebook"></a></li>

        <!-- bron fotos: https://www.pngwing.com/en/free-png-vvtxe -->
    </ul>
</footer>