<!DOCTYPE html>
<html lang="en">
    
<header>
    <img src="./images/Middel 1.png" alt="">

    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
        </ul>
    </nav>
</header>