<!DOCTYPE html>
<title>Your daily web quote</title>
<head>
    <meta name="Your daily web quote">
    <link rel="stylesheet" type="text/css" href="/public/styles/style.css">
    <link rel="manifest" href="/manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>

<body>
<header>
    <%- include('partials/header.ejs'); %>
</header>

<main>
    <section id="about">
            <h1>About</h1>
            <p>Your daily web quote is a browser based one page web project, 
                designed to view quotes related to the web.
                Whether you are a ux designer or a back-end developer, 
                it doesn't matter. The quotes can apply to all jobs in the web field!
            </p>
    </section>
</main>


<footer>
    <%- include('partials/footer.ejs'); %>
</footer>
    
</body>
