<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>

<body>
<header>
    <%- include('partials/header.ejs'); %>
</header>

<main>
    <section id="about">
        <div>
            <h1>About</h1>
            <p>Your daily web quote is a browser based one page web project, 
                designed to view quotes related to the web.
                Whether you are a ux designer or a back-end developer, 
                it doesn't matter. The quotes can apply to all jobs in the web field!
            </p>
        </div>	
    </section>
</main>


<footer>
    <%- include('partials/footer.ejs'); %>
</footer>
    
</body>
