<!DOCTYPE html>
<head>
    <title>Your daily web quote</title>
    <html lang="en">
    <meta name="Your daily web quote">
    <link rel="stylesheet" type="text/css" href="/public/styles/style.min.css">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#4285f4" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>


<body>

    <%- include('partials/header.ejs'); %>

    <main>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>

        <section id="home">

            <h1>Authors</h1>
            <ul>
                <% data.forEach(function(quote){ %>
                <li><a href="/quotes/<%= quote.id %>">
                        <%- quote.author %>
                    </a></li>
                <% }); %>
            </ul>
        </section>
    </main>

    <%- include('partials/footer.ejs'); %>

</body>


<!-- 
export NVM_DIR="$([ -z "${XDG_CONFIG_HOME-}" ] && printf %s "${HOME}/.nvm" || printf %s "${XDG_CONFIG_HOME}/nvm")"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh" # This loads nvm 
-->