<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="/public/styles/style.css">
    <link rel="manifest" href="/manifest.json">
</head>

<body>

    <%- include('partials/header.ejs'); %>

<main>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <section id="home">
        
            <h1>Authors</h1>
            <ul>
                <% data.forEach(function(quote){ %>
                    <a href="/quotes/<%= quote.id %>">
                        <li><%- quote.author %></li>
                    </a>
                <% }); %>
            </ul>
            <!-- <img src="./images/quote.png" alt="quotation">
            <img src="./images/quote.png" alt="quotation"> -->
        
        <!-- <button>shuffle</button> -->
    </section>
</main>

    <%- include('partials/footer.ejs'); %>

</body>


<!-- 
export NVM_DIR="$([ -z "${XDG_CONFIG_HOME-}" ] && printf %s "${HOME}/.nvm" || printf %s "${XDG_CONFIG_HOME}/nvm")"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh" # This loads nvm 
-->