<!DOCTYPE html>
<title>Your daily web quote</title>
<head>
    <meta name="Your daily web quote">
    <link rel="stylesheet" type="text/css" href="/public/styles/style.min.css">
    <link rel="manifest" href="/manifest.json">
    <link rel="manifest" href="/manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

</head>

<body>

    <%- include('partials/header.ejs'); %>

<main>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <section id="quotes">
        <ul>
            <% data.forEach(function(quote){ %>
              <li><%- quote.quote %></li>
            <% }); %>
          </ul>
    </section>
</main>


    <%- include('partials/footer.ejs'); %>
    
</body>
