<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="/public/styles/style.css">
    <link rel="manifest" href="/manifest.json">

</head>

<body>
    <%- include('partials/header.ejs'); %>

<main>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <section id="quotes">
        <ul>
            <% data.forEach(function(quote){ %>
              <li><%- quote.quote %></li>
            <% }); %>
          </ul>
    </section>
</main>


    <%- include('partials/footer.ejs'); %>
    
</body>
